$color-primary: #613eff;
$color-warning: #ff6122;
$color-navy: #200e72;
$color-r: #ea5098;
$color-y: #fff100;
$color-b: #00a6e4;
$color-black: #000;
$color-white: #fff;
$color-light-gray: #e9e8f5;
$color-dark-gray: #727272;